
@{
    ViewBag.Title = "Login";
    Layout = "";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Login.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body  >
    <div class="container">
        <div class="row visible-xs">
            <div class="col-xs-4"></div>
            <div class="col-xs-4">
                @{Html.RenderPartial("~/Views/Login/LoginForm.cshtml"); }
            </div>
            <div class="col-xs-4"></div>
        </div>
        <div class="row hidden-xs">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                @{Html.RenderPartial("~/Views/Login/LoginForm.cshtml"); }
            <div class="col-md-4"></div>
        </div>
    </div>
</body>
</html>

